        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        body{
            font-family: 'Courier New', Courier, monospace;
            background-image: url(https://images.alphacoders.com/133/thumb-1920-1339887.png);
            background-attachment: fixed;
            background-position: center;
            color: rgb(255, 255, 255);
            background-size: cover;
            width: 100%;
            height: 100%;
        }

        nav{
            background-color: rgb(0, 0, 0);
            justify-content: space-around;
            align-items: center;
            display: flex;
            width: 100%;
            height: 8vh;
        }

        .camper_logo{
            display: inline-flex;
        }

        .logo_icon{
            font-size: 30px;
        }

        .camper_logo h1{
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-left: 30px;
            margin-top: 5px;
            font-size: 24px;
            transition: 0.5s;
        }
        .camper_logo h1:hover{
            color: rgb(212, 0, 255);
        }

        span{
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 16px;
        }

        .campe_list{
            list-style: none;
            display: flex;
        }

        .campe_list li{
            letter-spacing: 3px;
            margin-left: 5px;
            margin-right: 5px;
            transition: 0.5s;
        }

        .campe_list li a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            display: inline-flex;
            margin-left: 30px;
            transition: 0.5s;
        }
        .campe_list li a:hover{
            color: rgb(212, 0, 255);
            transform: scale(1.2);
        }

        .campe_list li a .icon{
            margin-right: 5px;
        }

        .mobile button{
            cursor: pointer;
            display: none;
            width: 35px;
            height: 35px;
        }

        @media (max-width: 720px){
            .campe_list{
                background-color: rgba(0, 0, 0, 0.952);
                justify-content: space-around;
                flex-direction: column;
                position: absolute;
                display: none;
                width: 100vw;
                height: 92vh;
                z-index: 1;
                right: 0;
                top: 8vh;
            }

            .campe_list li{
                margin-top: 15px;
                margin-left: 10px;
            }

            .mobile button{
                display: block;
            }
        }

        main{
            justify-content: center;
            display: flex;
            width: 100%;
            height: 100%;
        }

        .content{
            display: inline-block;
            width: 90vw;
            height: 100%;
        }
        .campe_apresentacion{
            text-align: center;
        }

        .camper_entrada{
            display: inline-flex;
            margin-top: 30px;
            transition: 0.5s;
        }

        .camper_entrada:hover{
            color: rgb(212, 0, 255);
        }

        .camper_entrada .main_icon{
            margin-right: 20px;
            margin-left: 20px;
            margin-top: 0px;
            font-size: 30px;
        }

        .campe_banner{
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            display: flex;
            width: 100%;
            height: 50%;
        }

        .campe_banner .banner{
            display: inline-block;
            max-width: 800px;
            width: 100%;
            height: 100%;
        }

        .banner img{
            border-radius: 20px;
            object-fit: cover;
            margin-top: 0px;
            width: 100%;
            transition: 0.5s;
        }

        .campe_promotion{
            text-align: center;
            margin-top: 20px;
        }

        .text_promotion{
            display: inline-flex;
            transition: 0.5s;
        }
        .text_promotion:hover{
            color: rgb(212, 0, 255);
        }

        .text_promotion span{
            margin-right: 10px;
            margin-left: 10px;
            font-size: 30px;
        }

        .campe_games_promotion{
            justify-content: space-around;
            display: flex;
            width: 100%;
        }

        .campe_games_promotion ul{
            text-decoration: none;
            display: inline-block;
            list-style: none;
        }

        .games_promotion{
            justify-content: center;
            align-items: center;
            display: flex;
            width: 100%;
            height: 100%;
        }

        .games_promotion ul{
            width: 100%;
        }

        .games_promotion ul li{
            display: inline-block;
            margin-top: 20px;
            max-width: 200px;
            width: 40vw;
            height: 35vh;
            transition: 0.5s;
        }
        .games_promotion ul li:hover{
            transform: scale(1.1);
        }

        .games_promotion ul li a{
            color: rgb(98, 0, 255);
            text-decoration: none;
            transition: 0.5s;
        }
        .games_promotion ul li a:hover{
            color: rgb(212, 0, 255);
        }

        .games_promotion ul li img{
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .games_promotion ul li a img span{
            display: block;
        }